# Секреты и локальная конфигурация
.env
.env.*
!.env.example

# Игнорирование виртуальной среды Python
venv/
.venv/
myenv/

# Игнорирование скомпилированных файлов Python
__pycache__/
**/__pycache__/

# Игнорирование настроек проекта для PyCharm
.idea/
**/.idea/
app/log.txt